USE [master]
GO
/****** Object:  Database [Projects]    Script Date: 27-12-2016 23:08:23 ******/
CREATE DATABASE [Projects]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projects', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Projects.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Projects_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Projects_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projects].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projects]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 27-12-2016 23:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Name] [nvarchar](200) NOT NULL,
	[CostCentre] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExpectedCompletionDate] [date] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [ntext] NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Archived] [bit] NULL DEFAULT ((0)),
	[Locked] [bit] NULL DEFAULT ((0)),
	[Created] [datetime] NOT NULL DEFAULT (getdate()),
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK__Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectSkills]    Script Date: 27-12-2016 23:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSkills](
	[ProjectSkillId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_ProjectSkills] PRIMARY KEY CLUSTERED 
(
	[ProjectSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skill]    Script Date: 27-12-2016 23:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Version] [nvarchar](100) NOT NULL,
	[Description] [ntext] NULL,
	[Archived] [bit] NULL DEFAULT ((0)),
	[Created] [datetime] NOT NULL DEFAULT (getdate()),
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IDX_UQ_Project_Skill]    Script Date: 27-12-2016 23:08:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_UQ_Project_Skill] ON [dbo].[ProjectSkills]
(
	[ProjectId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectSkills]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSkills_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectSkills] CHECK CONSTRAINT [FK_ProjectSkills_Project]
GO
ALTER TABLE [dbo].[ProjectSkills]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSkills_Skill] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skill] ([Id])
GO
ALTER TABLE [dbo].[ProjectSkills] CHECK CONSTRAINT [FK_ProjectSkills_Skill]
GO
USE [master]
GO
